/* --------------------------- FONTS -------------------------------- */

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/inter-regular-webfont.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/inter-semibold-webfont.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/opensans-regular-webfont.woff2");
    font-weight: 400;
    font-style: normal;
}


/* ------------------ GENERAL STYLING / TYPOGRAPHY ------------------ */

* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

h1, h2, h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}


/* ---------------------------TOP NAVIGATION ------------------------ */

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 4;
}

.top-nav-logo {
    height: 4em;
    width: auto;
}

.nav-btn {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    border: 1px solid white;
    border-radius: 2em;
    color: white;
    text-decoration: none;
}

.nav-btn:hover {
    color: black;
    background-color: white;
}

/* For accessibility purposes */

.nav-btn:focus-visible {
    outline: 2px solid white;
    outline-offset: 4px;
}


/* --------------------------- HERO SECTION ------------------------- */

.hero-section {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.hero-section p {
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

/* Background video of hero section */
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Overlay on top of video for better text readability */

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Hero section text content */

.hero-content {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    text-align: center;
    gap: 2rem;
    z-index: 3;
}

/* Hero button */

.hero-content a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: 1px solid #FF2A00;
    border-radius: 2em;
    max-width: fit-content;
    text-align: center;
    margin: 2rem auto;
    background-color: #FF2A00;
    padding: 1em;
    color: black;
    text-decoration: none;
    box-shadow: inset 0.1em 0.1em 0.3em white,
    inset -0.1em -0.1em 0.5em black;
}

.hero-content a:hover {
    background-color: #eb250b;
}

/* For accessibility purposes */

.hero-content a:focus-visible {
    outline: 2px solid white;
    outline-offset: 4px;
}

/* ---------------WHO IS THIS FOR SECTION ----------------------- */

.who-is-this-for-section {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.who-is-this-for-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}

.who-is-this-for-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}

.who-is-this-for-content h3 {
    padding-bottom: 1rem;
}

.strength-col {
    border-top: 1px solid #FF2A00;
    border-bottom: 1px solid #FF2A00;
    padding: 2rem 0 2rem 0 ;
}

/* -------- STYLES FOR LARGER SCREENS (TABLET / DESKTOP) ---------*/

/* ----------------- LANDSCAPE PHONE -----------------------------*/

@media (max-height: 420px) {
    body{
        font-size: 1.1rem;
    }

    h1, h2, h3 {
        font-size: 2.5rem;
    }

    .hero-section {
        height: 120vh;
        padding-top: 10rem;
    }
}

/* ------------------------- TABLET ------------------------------*/

@media (min-width: 768px) {
    body, a {
        font-size: 1.5rem;
    }

    p {
        max-width: 600px;
    }

    h1 {
        font-size: 4rem;
        max-width: 600px;
    }

    h2 {
        font-size: 3rem;
        max-width: 600px;
    }

    h3 {
        font-size: 2rem;
    }

    .hero-section {
        padding-top: 8rem;
    }

    .hero-content {
        align-items: center;
        text-align: center;
    }

    .who-is-this-for-content {
        gap: 5rem;
    }

    .who-is-this-for-header {
        padding: 4rem 0 4rem 0;
    }

    .strength-col {
        padding: 4rem 0 4rem 0 ;
}
}

/* ------------------------- DESKTOP ------------------------------*/

@media(min-width: 1200px){
   
    body{
        font-size: 1.2rem;
    }

    h1 {
        font-size: 5rem;
        max-width: 1000px;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .hero-section p {
        max-width: 800px;
    }

    .hero-section {
        padding-top: 6rem;
    }

    .who-is-this-for-section {
        padding: 2rem 4rem 4rem 4rem;
    }

    .who-is-this-for-header {
        max-width: 1000px;
    }

    .who-is-this-for-content {
        flex-direction: row;
        justify-content: center;
    }

    .strength-col {
        border-left: 1px solid #FF2A00;
        border-right: 1px solid #FF2A00;
        border-bottom: none;
        border-top: none;
        padding: 0 2em 0 2em;
    }   
}